.marg{
    margin-left: 10%;
    margin-right: 10%;
    padding: 0 20px;
   
}
body {
    font-weight: 400;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #747474;
    font-size: 16px;
     
    
     
}
 
.fix{
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
    padding: 10px 20px;
    box-shadow: 
}
    
    
    

header{
   position: fixed;
   top:0;
   right: 0;
   left:0;
    height: 70px;
    background-color: white;
    
    
    
  
}

.nav-bar{    
    
    padding: 10px 0;
   
    right: 10%;
    

    
    
}

.nav-bar>a{
    padding: 0 6px;
    text-decoration: none;
    color: gray;
}

.nav-bar>a:hover{
    
    text-decoration: none;
    color: #00b39b;
}

.head-logo{
    display: block;
    margin: 0 auto;
    padding-top: 50px;
     
}
 

h1{
    text-align: center;
    color: #00b39b;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: .3px;
    font-size: 25px;
    margin: 34px 0;
}

.head-main{
    display: flex;
    flex-direction: row;
    line-height: 25px;
    
}
.head-block-text{
    padding: 10px;
    text-align: justify;
}



.patients{
    width: 50;
}

.main-liste-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block-service{
    display: flex;
    flex-direction: row;
}
.img-service{
    width: 270px;
    height: 200px;
   
    
}

.service-doctors{
    display: flex;
    flex-direction: column;
    background-color: #3d83df; 
    width: 50%;
    margin: 10px;
    border-radius: 15px;
    padding: 10px 0px 10px 28px;
}

.service-patients{
    display: flex;
    flex-direction: column;
    background-color: #00b39b; 
    margin: 10px;
    border-radius: 15px;
    padding: 10px 0px 10px 28px;
    width: 50%;
}

.marg-img-service-1{
    background-image: url(https://www.docplanner.com/img/screen-marketplace@2x.png);
    width: 270px;
    height: 240px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top bottom;
    box-sizing: border-box;
     
     
}

.marg-img-service-2{
    background-image: url(https://www.docplanner.com/img/screen-saas@2x.png);
    width: 270px;
    height: 240px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top bottom;
    box-sizing: border-box;
     
     
}
.country-select{
    width: 100%;
    background: white;
    border: 0;
    border-radius: 0;
    padding: 0 3.5em 0 1.5em;
    height: 40px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
   

}

.font-text{
    color: white;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    text-align: left;
    padding-right: 50px;
}

.font-text-sm{
    color: hsla(0,0%,100%,.7);
}

.company{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
   
     
} 

.company-list{
    display: flex;
     font-size: 14px;
     margin-left: 100px;
    width: 60%;
     fill: hsla(0,0%,67%,.7);
     flex-wrap: wrap;

     
     
}

.company-text{
    width: 20%;
    padding-left: 10px;
     
    
}
.text-style{
    letter-spacing: .3px;
   color: #00b39b;

    font-weight: 300;
    font-size: 22px;
}

.company-list>a{
    padding-left:20px;
}

.docplanner-stats{
    display: flex;
    flex-direction: row;

}

.stats-align{
    width: 150px;
    height: 180px;
    background-color: white;
   
    text-align:center;
    margin: 20px;
    border-radius: 5px;
    padding: 25px;
     

}

.docplanner-group{
    background-color:#dff9f7;
    
    
}
.display-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%
   
}

h3{
     
    font-size: 20px;
    color: #00b39b;  
}

.marg-top{
    margin-top:50px;
}
.text-info-group{
padding-left: 30px;
    font-size: 16px;
     
}

.text-info-footer{
    text-align: center;
}
.marg-text-footer{
    width:400px;
    margin: auto;
    font-size: 16px;
}

.country{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 16px;
     
    
}

.pad-office{
    padding: 15px;
}

.office{
    padding:11px;
    display: flex;
    justify-content: space-between;
}

.btn-see{
    text-decoration: none;
    color: white;
    background-color:#3d83df;;
    padding: 10px 15px; 
}

.btn-see:hover{
    background-color: blue;
}
.pad-office:hover{
    box-shadow: 5px 10px #74747421;
}

.footer-info{
    font-size: .75em;
    color: #ababab;
    text-align: center;
    padding-top: 1.7em;
}

.link-footer{ 
text-decoration:none;
 
}

.link-footer:hover{
    text-decoration-line: underline; 
  
     
    }
.footer-cpy{
     
    font-size: .75em;
    color: #ababab;
    text-align: center;
    padding: 1em 0;
}
hr{
    color: #ababab;
    border: solid 0.5px  #ababab;
}
.back-img{
    background-image: url(https://www.docplanner.com/img/logo-default-group-en.svg?v=1);
    width: 400px;
    height: 400px;
   overflow: hidden;
   
    
     
}
.disp{
    display: flex;
    flex-direction: column;
}